In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read in the vine_table.csv file
vine_df =pd.read_csv("vine_table.csv")
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643615,R13RP6H1OP0BFS,5.0,3.0,3.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643617,R30D2N6TX0OFS,3.0,7.0,7.0,N,Y
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

In [3]:
#  explore the dataframe using the info method
vine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2643619 entries, 0 to 2643618
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   review_id          object
 1   star_rating        float64
 2   helpful_votes      float64
 3   total_votes        float64
 4   vine               object
 5   verified_purchase  object
dtypes: float64(3), object(3)
memory usage: 121.0+ MB

In [24]:
tot_paid_reviews_df = vine_df.loc[vine_df["vine"] == 'Y']
tot_paid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
1048,R1CBOJMJAYL75C,5.0,0.0,0.0,Y,N
1343,R37IHP001XZVR,5.0,0.0,1.0,Y,N
1393,R175KT8QHRRK2G,4.0,0.0,1.0,Y,N
1572,RNWWD2B3X0CU2,5.0,0.0,0.0,Y,N
2008,R2FDITZFABSUN8,3.0,0.0,1.0,Y,N
...,...,...,...,...,...,...
2598112,R1W951NWVSOQBZ,4.0,5.0,6.0,Y,N
2598127,R1355LD7FXH9VK,5.0,4.0,5.0,Y,N
2598146,R1D34FIDM1F1R2,2.0,4.0,5.0,Y,N
2598196,RNGRV0353CDWX,4.0,109.0,115.0,Y,N
2598231,RESK20IK8JVFT,5.0,10.0,11.0,Y,N

In [21]:
tot_unpaid_reviews_df = vine_df.loc[vine_df["vine"] == 'N']
tot_unpaid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643615,R13RP6H1OP0BFS,5.0,3.0,3.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643617,R30D2N6TX0OFS,3.0,7.0,7.0,N,Y
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

Step 1
Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20 to pick reviews that are more likely to be helpful and to avoid having division by zero errors later on.

In [4]:
# Filter vine_df for all rows where total_votes >= 20 
vine_df_20 = vine_df.loc[vine_df["total_votes"] >= 20]
vine_df_20

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y
...,...,...,...,...,...,...
2643586,RDDVO19Y8YH01,1.0,12.0,56.0,N,N
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,N,N
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

Step 2
Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.

In [5]:
vine_df_50 = vine_df_20.loc[(vine_df_20["helpful_votes"] / vine_df_20["total_votes"]) >= 0.50]
vine_df_50

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y
...,...,...,...,...,...,...
2643577,R37NBT4U1EL04K,5.0,47.0,61.0,N,N
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,N,N
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

Step 3
Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.

In [7]:
paid_reviews_df = vine_df_50.loc[vine_df_50["vine"] == 'Y']
paid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8547,R3A71VR1JZD8WF,2.0,27.0,30.0,Y,N
10246,R16OMUJIGI18JZ,5.0,72.0,72.0,Y,N
25168,R3TS8ZP2FHQ9XR,5.0,39.0,42.0,Y,N
46422,R2MHP919VZN7DI,5.0,29.0,30.0,Y,N
66446,RD2BCTVS59A5L,2.0,20.0,20.0,Y,N
...,...,...,...,...,...,...
2596353,RV5OQXGCYHSC6,5.0,24.0,28.0,Y,N
2596519,R2XLAQL0E2UPWQ,4.0,33.0,34.0,Y,N
2597336,R2UJFVH97OJORD,3.0,106.0,117.0,Y,N
2597830,RJXG84I331N9T,3.0,146.0,154.0,Y,N
2598196,RNGRV0353CDWX,4.0,109.0,115.0,Y,N

Step 4
Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'.

In [8]:
unpaid_reviews_df = vine_df_50.loc[vine_df_50["vine"] == 'N']
unpaid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y
...,...,...,...,...,...,...
2643577,R37NBT4U1EL04K,5.0,47.0,61.0,N,N
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,N,N
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

Step 5
Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid).

In [12]:
paid_5star_reviews = paid_reviews_df.loc[paid_reviews_df["star_rating"] == 5]["star_rating"].count()
paid_5star_reviews

65

In [13]:
# determine the count of paid reviews
paid_reviews = paid_reviews_df["star_rating"].count()
paid_reviews

170

In [14]:
# determine the percentage of paid_5star_reviews
percentage_paid_5star_reviews = round((paid_5star_reviews / paid_reviews) * 100,2)
percentage_paid_5star_reviews

38.24

Step 5b. Unpaid Reviews

In [18]:
unpaid_reviews_df["star_rating"] == 5

128        False
161         True
256        False
267        False
719        False
           ...
2643577     True
2643591     True
2643614    False
2643616    False
2643618    False
Name: star_rating, Length: 37840, dtype: bool

In [16]:
unpaid_5star_reviews = unpaid_reviews_df.loc[unpaid_reviews_df["star_rating"] == 5]["star_rating"].count()
unpaid_5star_reviews

20612

In [17]:
# determine the count of unpaid reviews
unpaid_reviews = unpaid_reviews_df["star_rating"].count()
unpaid_reviews

37840

In [19]:
# determine the percentage of unpaid_5star_reviews
percentage_unpaid_5star_reviews = round((unpaid_5star_reviews / unpaid_reviews) * 100,2)
percentage_unpaid_5star_reviews

54.47